@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,500,700,1000);

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topnav {
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
}

.topnav * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.topnav li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 25px;
  overflow: hidden;
}
.topnav a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-decoration: none;
}
.topnav a:before,
.topnav a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.topnav a:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #c0392b;
}
.topnav a:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.topnav li:hover a,
.topnav .current a {
  transform: translateY(-100%);
}
.topname {
  font-weight: 100;
  border-right: 1px solid white;
  padding-right: 15px;
}

#about,
#services,
#contact {
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 30px;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  min-height: 700px;
}

.meimg {
  border-radius: 30px;
}

h1 {
  font-family: "Montserrat";
  font-weight: 500;
}
